{{> navbar}}
<section class="background" alt="image of line of books"></section>
    <div class="container">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <h4>Vote from the selections below!</h4>
                <div class="with-gap">
                    {{#each books}}
                        <div class="row">
                            <div class="col s8">
                                <p>
                                    <label>
                                        <p id="votedBook" value={{id}}>{{title}}</p>
                                        <span class="hide" id="clubId" value={{clubId}}></span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s4">
                                <p>
                                    Votes: {{votes}}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                {{!-- book-block will be injected here. --}}
                {{!-- {{books}} --}}
            </div>
            <div class="col s2"></div>
        </div>
    </div>
</section>

<script src="../assets/js/vote.js"></script>
